body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.root {
    width: 100% !important;
    margin: 0;
    max-width: 1920px;
}

.sidebar {
    height: 100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 330px;
    position: relative;
    display: inline-block;
}

.sidebar .heading {
    text-align: center;
    font-size: 40px;
}

.block-heading {
    text-align: center;
    margin-bottom: 5px;
}

.textures {
    margin: 0 auto 20px;
    border: 1px solid black;
    padding: 5px;
    max-width: 222px;
}

.texture {
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}

.texture img {
    width: 40px;
    height: 40px;
}

.texture.active {
    border: 1px solid #33C3F0;
    background: #33C3F0;
}

.brushes {
    margin: 0 auto 20px;
    border: 1px solid black;
    padding: 10px;
    max-width: 222px;
}

.brush_wrapper {
    display: block;
    width: calc(100% - 2px);
    border: 1px solid black;
    margin-bottom: 5px;
    height: 20px;
    outline: none;
    position: relative;
    line-height: 20px;
}

.brush_wrapper.active {
    border: 1px solid #33C3F0;
    background: #33C3F0;
}

.brush {
    background: black;
    content: '';
    margin: auto 5px;
    width: calc(100% - 10px);
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    height: 5px;
}

.brush:last-child {
    margin-bottom: 0;
}

.effects {
    margin: 0 auto 20px;
    border: 1px solid black;
    padding: 5px;
    max-width: 222px;
}

.effect {
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

.effect span {
    vertical-align: baseline;
}

.effect.active {
    border: 1px solid #33C3F0;
    background: #33C3F0;
}

.actions {
    margin: 0 auto 20px;
    border: 1px solid black;
    padding: 10px;
    max-width: 222px;
}

.action-button {
    width: 100%;
    border-radius: 0 !important;
    margin-bottom: 10px;
}

.action-button:last-child {
    margin-bottom: 0;
}

.drew-area {
    margin: 0;
    width: 1590px;
    height: 100vh;
    display: inline-block;
    position: absolute;
}

canvas {
    width: 1590px;
    height: 960px;
}

.footer-block {
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 0;
}
